!!!
%html
  %head
    %title Mon 7
    %link{:href => '/assets/site.css', :rel => 'stylesheet', :type=>"text/css"}
    %script{:src => '/assets/application.js', :type=>"text/javascript"}
  %body
    .topbar-wrapper{:style => "z-index: 5;"}
      .topbar{"data-dropdown" => "dropdown"}
        .topbar-inner
          .container
            %h3
              %a{:href => "#"} Mon 7 Consulting AB
    .container
      !=yield
    %footer.footer
      .container
        .pull-right
          %p 
            Utvecklat av 
            %a{:href=>'http://www.mon7.se/'} Mon 7 Consulting AB
